@media only screen and (max-width: 1920px) {
   .x_content { 
      font-size: 18px; 
   }
}
@media(max-width: 980px) {
  .x_content {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
.equacao {
   border:solid 1px #ccc;
}
}
.equacao{
   width:100%;
   overflow: auto;  
}